{% extends 'base.html' %}

{# overwrite scripts block #}
{% block scripts %}
    {# inherit from base scripts but allow addition of more with super() #}
    {{ super() }}
    <script type="application/javascript">
        // use jquery to run a function when the document is ready
        $(document).ready(function () {
            console.log("Hello from javascript console!");
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Hello World!</h1>
{% endblock %}
