{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('auth.login') }}" method="post">
        {{ form.username.label }}
        {{ form.username }}

        {{ form.password.label }}
        {{ form.password }}
        <button type="submit">Login</button>
    </form>
{% endblock %}
