{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('auth.register') }}" method="post">
        {{ form.username.label }}
        {{ form.username }}

        {{ form.emil.label }}
        {{ form.email }}

        {{ form.password.label }}
        {{ form.password }}

        {{ form.confirm.label }}
        {{ form.confirm }}
        <button type="submit">Register</button>
    </form>
{% endblock %}
